.slider-button {
    margin: 0 0.5rem;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    transition: opacity 0.2s;
  }
  
  .slider-button.active {
    opacity: 0.5;
  }
  image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
    
  }