/* .Header {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    font-size: 30px;
    box-shadow: 5px 5px 20px 5px;
    background-color: inherit;
    
}
.Header div {
    border-radius: 8px;
    text-shadow: 0 0 3px #111010, 0 0 5px #0000FF;
    height: 40px;
    box-shadow: 1px 1px 5px 1px;
    padding: 3px;
    background-color: inherit;

} */

.Header {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    font-size: 30px;
    box-shadow: 5px 5px 20px 5px;
    background-color: inherit;
    
}

.Header div {
    /* border-radius: 8px; */
    text-shadow: 0 0 3px #111010, 0 0 5px #0000FF;
    /* height: 40px;  */
    /* box-shadow: 1px 1px 5px 1px;  */
    padding: 3px; 
    background-color: inherit;
}


.lightMode {
    background: url(../image/169367.png) no-repeat;
    background-size: cover;

}

.darkMode {
    background: url(../image/moon-icon-8.png) no-repeat;
    background-size: cover;
}

.unvisible {
    display: none;
}

.lightMode:hover, .darkMode:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease; 
}


