/* .Header {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    font-size: 30px;
    box-shadow: 5px 5px 20px 5px;
    background-color: inherit;
    
}
.Header div {
    border-radius: 8px;
    text-shadow: 0 0 3px #111010, 0 0 5px #0000FF;
    height: 40px;
    box-shadow: 1px 1px 5px 1px;
    padding: 3px;
    background-color: inherit;

} */
.mainDiv {
    width: 100%;
}

.Header {
    display: flex;
    justify-content: space-between;
    height: 115px;
    font-size: 30px;
    /* box-shadow: 5px 5px 20px 5px; */
    background-color: inherit;
    align-items: center;
    
}

.Header div {
    /* border-radius: 8px; */
    /* text-shadow: 0 0 3px #111010, 0 0 5px #0000FF; */
    /* height: 40px;  */
    /* box-shadow: 1px 1px 5px 1px;  */
    
    padding: 3px; 
    background-color: inherit;
}
.home {
    width: 30%;
    height: 70%;
    margin: 10px 0 0 10px;
}
.no-decoration {
    text-decoration: none;
}



.lightMode {
    background: url(../image/sun-icon.png) no-repeat;
    background-size: cover;

}

.darkMode {
    background: url(../image/moon-icon-8.png) no-repeat;
    background-size: cover;
}

.unvisible {
    display: none;
}

.lightMode:hover, .darkMode:hover, .home:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease; 
}
.kidsAreaLogo {
    height:100%;
    width: 100%;
    background-image: url(../image/kidsAreaLogo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.kidsAreaLogo > image {
    
}

.GeoFlag {
    background: url(../image/geFlag.png) no-repeat;
    background-size: cover;
}

.EnFlag {
    background: url(../image/enFlag.png) no-repeat;
    background-size: cover;
}

.GeoFlag:hover, .EnFlag:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease; 
}

/* .unvisible {
    display: none;
} */


