.header {
    background-color: rgb(4, 52, 4);
    height: 80px;
    width: 90vw;
    margin-left: 5%;
    
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .item {
    height: 150px;
    min-width: 21%;
    padding: 30px;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    pointer-events: none;
    border: 5px solid yellow;
  }
  .inner-carousel {
    display: flex;
  }
  .carousel1 {
    cursor: grab;
    overflow-x: hidden;
    height: 250px;
    width: 90vw;
    margin-left: 5%;
  }
  
  .btns button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .btns {
    display: flex;
    gap: 15px;
    position: absolute;
    left: 91%;
  }
  @media screen and (max-width: 1000px) {
    .btns {
      left: 89%;
    }
  }
  @media screen and (max-width: 800px) {
    .btns {
      left: 83%;
    }
  }
  @media screen and (max-width: 800px) {
    .btns {
      left: 72%;
    }
  }