/* @font-face {
    font-family: "FiraGo";
    src: url("../../fonts/FiraGO-Regular.ttf");
  } */

  /* თავიდან დასაწერია ყველაფერი */
  
  .container {
    position: relative;
  }
  .father-photo {
    position: absolute;
    top: 100px;
    left: 98px;
    width: 447.45px;
    height: 400px;
  }
  .boy-photo {
    position: absolute;
    top: 433px;
    left: 1038px;
    width: 390.89px;
    height: 370px;
  }
  .text-container {
    position: relative;
  }
  .text-container p:nth-child(1) {
    position: absolute;
    top: 240px;
    left: 500px;
    z-index: 10;
    width: 773px;
    height: 140px;
    font-family: "FiraGo";
    font-size: 19px;
    line-height: 28.8px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    text-align: justify;
  }
  
  .text-container p:nth-child(2) {
    position: absolute;
    top: 386px;
    left: 500px;
    z-index: 11;
    width: 400px;
    font-family: "FiraGo";
    font-size: 19px;
    line-height: 28.8px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    text-align: justify;
    width: 621px;
  }
  
  .text-container p:nth-child(3) {
    position: absolute;
    top: 483px;
    left: 100px;
    z-index: 11;
    width: 1004px;
    font-family: "FiraGo";
    font-size: 19px;
    line-height: 28.8px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    text-align: justify;
  }